@mixin btn {
    background: linear-gradient(167.01deg, #78E389 -18.85%, #1EB893 92.39%);
    border-radius: 20px;
    min-width: 85px;
    height: 40px;
    color: #fff;
}

@mixin btn_more {
    background: linear-gradient(167.01deg, #78E389 -18.85%, #1EB893 92.39%);
    border-radius: 53px;
    max-width: 137px;
    height: 45px;
    color: #fff;
    font-weight: 550;
    position: relative;
    padding-right: 15px;
    &::after {
        content: "";
        position: absolute;
        width: 20px;
        height: 1px;
        background: #fff;
        right: 0;
        top: 50%;
    }
    &::before {
        content: "";
        position: absolute;
        right: 20px;
        top: 43%;
        width: 7px;
        height: 7px;
        background: #fff;
        border-radius: 50%;
    }
}